body {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}


/******************
Header Stylings
******************/
header {
	width: 100%;
	background-color: #ffb4b0;
	border: 2px solid black;
}

header ul {
	display: flex;
	flex-direction: row;
}

/******************
Section One Stylings
******************/

.section1 {
	width: 20%;
	background-color: #4dd7fa;
	border: 2px solid black;
}


.section1 form {
	display: flex;
	flex-direction: column;
}

/******************
Section Two Stylings
******************/

.section2 {
  width: 70%;
  background-color: #fefac0;
  border: 2px solid black;

}